<form action="/users/signin" method="post">
  <label for="username">Username: </label>
  <input name="username" value="<%= params[:username] %>"</input>
  <br>
  <label for="password">Password : </label>
  <input name="password" value=""></input>
  <br>
  <button type="submit">Sign In</button>
</form>
